<!-- your html code here -->
<p>Hello, I'm the portfolio.html</p>

<div class="container-fluid">

    <div class="form m-5">

    <!-- Header Start -->
        <div class="row">
            <div class="col">
                <h1>Portfolio</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat corrupti accusantium eum, eligendi eius nesciunt magnam consectetur. Distinctio, rerum molestias voluptate impedit dolorem dolores maxime praesentium aliquam perferendis dicta deserunt.</p>
            </div>
        </div>
    <!-- Header End -->

    <!-- Images Start -->
        <div class="row">
            <div class="col-4">
                <img src="https://i.stack.imgur.com/fQzVV.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-4">
                <img src="https://i.stack.imgur.com/fQzVV.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-4">
                <img src="https://i.stack.imgur.com/fQzVV.jpg" class="img-fluid" alt="Responsive image">
            </div> 
        </div>
    <!-- Images End -->

    <!-- Image Description Start -->

        <div class="row p">
            <div class="col-4">
                <h3 class="text-primary">Project Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, cumque consequuntur! Voluptatibus exercitationem corporis molestiae voluptas itaque tempore modi, doloremque fuga praesentium.</p>
            </div>
            <div class="col-4">
                <h3 class="text-primary">Project Name</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, cum. Perspiciatis atque deserunt ut ex quo! Quidem earum quas ullam ex libero, aliquam qui omnis ratione nostrum alias. Neque, quas!</p>
            </div>
            <div class="col-4">
                <h3 class="text-primary">Project Name</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta exercitationem mollitia facere esse optio ullam et tenetur dolore veritatis aspernatur, ex nisi eum suscipit possimus soluta dolorem eius.</p>
            </div>
        </div>
    <!-- Image Information End  -->

    </div>
</div>